*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.padding-64 {
    padding-top: 64px !important;
    padding-bottom: 64px !important;
}.padding-16 {
    padding-top: 16px !important;
    padding-bottom: 16px !important;
}
.border-button {
    border-bottom: 1px solid #3333;
}
.text-spac {
    letter-spacing: 4px;
}
.input-border {
    padding: 8px;
    display: block;
    border: none;
    border-bottom: 1px solid #ccc;
    width: 100%;
}
.main {
    line-height: 2;
}
.header {
    letter-spacing: 4px;
    position: fixed;
    width: 100%;
    height: 50px;
    background-color: white;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.header__title {
    margin-left: 30px;
}
.header__nav {
    margin-right: 30px;
}

.header__link {
    text-decoration: none;
    color: #000;
    padding: 8px 16px;
}
.header__link:hover {
    background-color: #3333;
}

/*  */
.body {
    padding: 50px;
    
}
.banner {
    position: relative;
}
.banner img {
    width: 100%;
    height: auto;

}
.banner .information {
    letter-spacing: 4px;
    font-size: 30px;
    position: absolute;
    left: 20px;
    bottom: 30px;
    
}
/*  */
.content {
    max-width: 980px;
    margin-left: auto;
    margin-right: auto;
}
.about {
    display: flex;
    justify-content: center;

}
.about-left {
    width: 50%;
    padding: 20px;
}
.about-right {
    width: 50%;
    padding: 20px;
}

.about img {
    width: 100%;
    height: auto;
}
.about-text {
    font-size: 18px;
}
.text__title {
    margin: 10px 0;
    font-size: 36px;
    text-align: center;
}
.text__subtitle {
    margin: 10px 0;
    text-align: center;
}
.text__desc {
    margin: 18px 0;

}
.text__desc--bold {
    color: #000;
}
.text__btn {
    padding: 6px 12px;
    background-color: #bdb7b7;
}
.text__desc--bland {
    color: #757575;
}
.menu {

    display: flex;
    justify-content: center;

}

.menu-left {
    width: 50%;
    padding: 20px;
}
.menu-right {
    width: 50%;
    padding: 20px;
}
.menu-right img {
    width: 100%;
}
.text__submenu {
    font-size: 20px;
    margin: 10px 0;
}
.text__desc {
    font-size: 15px;
    margin-bottom: 30px;
}
.contact {
    padding: 0 20px;
    
} 
.contact__title {
    text-align: start;

}
.text__subtext {
    font-size: 15px;
    margin: 15px 0;
}
.text__blue {
    margin: 18px 0;
    font-size: 18px;
    font-weight: 700;
    color: rgb(65, 156, 241);
}
.input-contact {
    margin: 10px 0;
}
.btn-send {
    margin-top: 20px;
    padding: 10px 16px;
    border: none;
    background-color: #f1f1f1;
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
}
.btn-send:hover {
    background-color: #3333;
}

.footer{
    padding: 32px 0;
    background-color: #f1f1f1;
    text-align: center;
}
.footer p {
    margin: 15px 0;
}
.footer p a {
    color: #000;
}

.footer p a:hover {
    color: rgb(0, 241, 129);
}



@media (min-width: 768px) and (max-width: 1023px) {
    .body {
        padding: 50px 0 0 0;
    }
    .text__desc--table {
        display: none;
    }
    .menu {
        display: flex;
        flex-direction: column;
    }
    .menu-left {
        width: 100%;
    }
    .menu-right {
        width: 100%;
    }
}
@media (max-width:767.09px) {
    .header__nav {
        display: none;
    }
    .body {
        padding: 50px 0 0 0 ;
    }
    .about-left {
        display: none;
    }
    .about-right {
        width: 100%;
    }
    .menu {
        display: flex;
        flex-direction: column;
    }
    .menu-left {
        width: 100%;
    }
    .menu-right {
        width: 100%;
    }
}